.faq-container {
  margin-top: 173px;
  font-family: "Graphie";
  font-weight: 600;
  font-size: 24px;
}

.faq-container img {
  margin-bottom: 53px;
  max-width: 649px;
}

.faq-container hr {
  background-color: rgba(0, 211, 255, 1);
  height: 2px;
  border: none;
}

.faq-question-item {
  display: flex;
  flex-flow: row;
  cursor: pointer;
}

.faq-question-item div {
  padding-top: 36px;
  padding-bottom: 36px;
}

.faq-question-item span {
  color: rgba(0, 211, 255, 1);
  font-family: "Graphie";
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0px;
  cursor: pointer;
  margin: auto;
  text-align: right;
}

.more-q {
  margin-top: 38px;
  margin-bottom: 183px;
  line-height: 2;
}

.more-q span {
  color: #00D3FF;
  cursor: pointer;
}