footer {
  margin-top: auto;
  bottom: 0;
  background-color: rgba(255, 0, 123, 0.3488);
  padding: 34px;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 159px;
  height: 63px;
  margin-top: 47px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.footer-socials img {
  width: 43px;
  cursor: pointer;
}

.links ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 96px;
}

.links a {
  text-decoration: none;
  color: white;
  font-family: "Dharma";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1.125px;
  text-align: left;
}

footer p {
  font-family: "Graphie";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-areas:
      "footer-logo . . footer-socials"
      "links links . ."
      "cr . . .";
  }

  .footer-logo {
    grid-area: footer-logo;
  }

  .links {
    grid-area: links;
  }

  .links ul {
    display: flex;
    flex-direction: row;
  }

  .cr {
    grid-area: cr;
  }

  .footer-socials {
    grid-area: footer-socials;
  }
}
