* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 61px 30px;
}

body {
  font-family: "Graphie";
  color: #f2f2f2;
  background-color: #000;
}

#root {
  display: grid;
  grid-template-rows: auto;
  min-height: 100vh;
  position: relative;
}

@media screen and (min-width: 768px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@font-face {
  font-family: "Graphie";
  src: url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.eot");
  src: url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a5b0e20f1b3c4884638d19a0b5d43074.svg#Graphie")
      format("svg");
}

@font-face {
  font-family: "Dharma";
  src: url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.eot");
  src: url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5c5772b491b3e1c39beb61efcd6824f7.svg#DharmaGothicEW01-Bold")
      format("svg");
}
