header {
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 25px 0px;
  display: grid;
  grid-template-rows: auto;
  min-height: 100vh;
}

header button {
  background-image: url("../buttons/EmptyButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all .12s ease-in-out;
  border: none;
  max-width: 100%;
  width: 146px;
  height: 65px;
  font-size: 34px;
  font-family: "Dharma";
  font-weight: 700;
  cursor: pointer;
  transition: all .12s ease-in-out;
}

header button:hover {
  transform: scale(1.1) perspective(1px);
}

header button:active {
  transform: translateY(2px);
  outline: 0;
}

.connect-btn {
  margin-bottom: 30px;
}

.mint-btn {
  margin-top: 35.99px;
}

.mint-edit-items {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  column-gap: 33px;
}

.mint-edit-items button {
  background: none;
  width: 65px;
  height: 65px;
}

.mint-edit-items select {
  background-image: url("../buttons/Rectangle.svg");
  background-repeat: no-repeat;
  appearance: none;
  width: 65px;
  height: 65px;
  font-size: 34px;
  font-family: "Graphie";
  font-weight: 700;
  text-align-last: center;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 21px;
  margin-bottom: 32px;
}

.socials button {
  width: 43px;
  height: 43px;
}

.avatar {
  margin-top: 30px;
  margin-left: -50px;
  margin-top: auto;
  bottom: 0;
}

.mobile {
  display: flex;
}

@media (min-width: 1400px) {
  header {
    display: grid;
    padding: 0px 25px;
    grid-template-areas:
    "avatar avatar socials connect"
    "avatar avatar logo logo"
    "avatar avatar mint-btn mint"
    "avatar avatar mint-btn mint"
  }

  .avatar {
    grid-area: avatar;
    margin-left: 0;
    width: 100%;
  }

  .connect-btn {
    grid-area: connect;
  }

  .socials {
    grid-area: socials;
    flex-direction: row-reverse;
    column-gap: 15px;
  }

  .logo {
    grid-area: logo;
  }

  .mint-btn {
    grid-area: mint-btn;
  }

  .mint-edit-items {
    grid-area: mint;
  }
}