header {
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  display: grid;
  top: 0;
  height: 700px;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    ". . . ."
    "avatar avatar container ."
    "avatar avatar mint ."
    "avatar avatar . .";
}

.avatar {
  grid-area: avatar;
  width: auto;
}

.container {
  grid-area: container;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". socials socials"
    "logo logo .";
}

.logo {
  grid-area: logo;
  margin-top: 74px;
}

.socials {
  grid-area: socials;
  padding-top: 34px;
  display: flex;
}

.socials button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all .12s ease-in-out;
}

.socials button:hover {
  transform: scale(1.1) perspective(1px);
}

.socials button:active {
  transform: translateY(2px);
}

.socials img {
  margin-right: 16px;
  cursor: pointer;
}

.connect-btn {
  background-image: url("../buttons/Connect-Empty-Button.svg") !important;
  background-repeat: no-repeat !important;
  appearance: none;
  height: 100%;
  width: 138px;
  text-align: center;
  font-size: 34px;
  font-family: "DharmaGothicEW01-Bold";
  font-weight: 700;
  cursor: pointer;
}

.mint-container {
  grid-area: mint;
  width: 146px;
  height: 58px;
  margin-top: 63.95px;
  cursor: pointer;
  display: flex;
  column-gap: 33px;
}

.mint-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.mint-container button:hover {
  transform: scale(1.1) perspective(1px);
}

.mint-container button:active {
  transform: translateY(2px);
  box-shadow: inset 1px;
}

.mint-edit-container {
  display: flex;
  margin-left: 33px;
}

select#mint-select {
  background-image: url("../buttons/Rectangle.svg");
  background-repeat: no-repeat;
  appearance: none;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 34px;
  font-family: "Graphie";
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  header {
    max-width: 100%;
    height: 669px;
    background-size: contain;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "container container"
      "avatar ."
      "avatar socials";
  }

  .container {
    width: 312.08px;
  }
}