.roadmap {
  margin-top: 161px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 31px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.roadmap-header {
  font-family: "Dharma";
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 3.28125px;
  text-align: left;
  max-width: 100%;
  background-color: #FF007B;
  width: fit-content;
  padding: 0px 10px;
}